
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 1em 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}


header {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2em;
}

nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}